<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programme Management</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="/myui.css" />
  </head>

  <body>
    <main class="container-fluid">
      <nav class="user-nav">
        <div class="left">
          <ul class="user-title">
            <li><h3>Programme Management</h3></li>
          </ul>
          <ul class="user-btns">
            <li><a href="/admin" class="nav-btn">Home</a></li>
            <li><a href="/admin/officers" class="nav-btn">Officers</a></li>
            <li><a href="/admin/programmes" class="nav-btn">Programmes</a></li>
          </ul>
        </div>
        <div class="right">
          <ul class="logout">
            <li>Hello <%= user.username %></li>
            <li><a href="/logout" class="nav-btn">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <div class="admin-content">
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Code</th>
                <th scope="col">Award Type</th>
                <th scope="col">Academic Year</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% programmes.forEach(programme => { %>
              <tr>
                <th scope="row"><%= programme.id %></th>
                <td><%= programme.title %></td>
                <td><%= programme.code %></td>
                <td><%= programme.award_type %></td>
                <td><%= programme.academic_year %></td>
                <td><a href="/admin/programmes/<%= programme.id %>" class="table-btn">Edit</a></td>
                <td><form action="/admin/programme/delete/<%= programme.id %>" method="POST">
                          <button class="table-btn">Delete</button>
                </form></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class = "manage-btn">
          <a href = "/admin/programme/add" class = "manage"> Add Programme </a>
        </div>
      </div>
    </main>
  </body>
</html>