<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="myui.css" />
  </head>

  <body>
    <main class="container-fluid">
      <nav class="user-nav">
        <div class="left">
          <ul class="user-title">
            <li><h3>Admin Dashboard</h3></li>
          </ul>
          <ul class="user-btns">
            <li><a href="/admin" class="nav-btn">Home</a></li>
            <li><a href="/admin/officers" class="nav-btn">Officers</a></li>
            <li><a href="/admin/programmes" class="nav-btn">Programmes</a></li>
          </ul>
        </div>
        <div class="right">
          <ul class="logout">
            <li>Hello <%= user.username %> </li>
            <li><a href="/logout" class="nav-btn">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <div class="admin-content">
        <div class="cards">
          <% officers.forEach( (officer) => { %>
         <article>
          <h5>Officer Username:</h5> <p><%= officer.username  %></p>
          <h5>Programmes Assigned:</h5> 
          <% officer.programmes.split(',').forEach((programme) => { %>
            <p><%= programme %></p>
          <% }) %>
         </article>
        <% }) %>
        </div>
        <div class = "manage-btn">
          <a href = "/admin/officers" class = "manage"> Manage Officers </a>
        </div>

        <div class="cards">
          <% programmes.forEach(programme => { %>
            <article>
              <h5>Programme:</h5> <p><%= programme.title  %></p>
              <h5>Academic Year:</h5> <p><%=programme.academic_year %></p>
            </article>
          <% }) %>
        </div>
        <div class = "manage-btn">
          <a href ="/admin/programmes" class="manage"> Manage Programmes </a>
        </div>
        
      </div>
    </main>
  </body>
</html>
