<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Officer Management</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="/myui.css" />
  </head>

  <body>
    <main class="container-fluid">
      <nav class="user-nav">
        <div class="left">
          <ul class="user-title">
            <li><h3>Officer Management</h3></li>
          </ul>
          <ul class="user-btns">
            <li><a href="/admin" class="nav-btn">Home</a></li>
            <li><a href="/admin/officers" class="nav-btn">Officers</a></li>
            <li><a href="/admin/programmes" class="nav-btn">Programmes</a></li>
          </ul>
        </div>
        <div class="right">
          <ul class="logout">
            <li>Hello <%= user.username %></li>
            <li><a href="/logout" class="nav-btn">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="form">
      <form action="/admin/officer/edit" method="POST">
          <fieldset>
            <label>
              ID
              <input name="id_field" readonly value="<%= officer.id %>" />
            </label>
            <label>
              Username
              <input name="username_field" value="<%= officer.username %>" />
            </label>
            <label>
              Email
              <input name="email_field" value="<%= officer.email %>" />
            </label>
            <label>
              Select assigned programme(s)
            </label>
            <select
              multiple name="programme_field" required>
              <% programmes.forEach(programme => { %>
               <option value="<%= programme.id  %>"> <%= programme.title %> </option>
              <% }); %>
            </select>
          </fieldset>
          <button type="submit" class="submit-btn">Submit</button>
      </form>
      </div>
      
      </div>
    </main>
  </body>
</html>
