<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programme Management</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="/myui.css" />
  </head>

  <body>
    <main class="container-fluid">
      <nav class="admin-nav">
        <div class="left">
          <ul class="admin-title">
            <li><h3>Programme Management</h3></li>
          </ul>
          <ul class="admin-btns">
            <li><a href="/admin" class="nav-btn">Home</a></li>
            <li><a href="/admin/officers" class="nav-btn">Officers</a></li>
            <li><a href="/admin/programmes" class="nav-btn">Programmes</a></li>
          </ul>
        </div>
        <div class="right">
          <ul class="logout">
            <li>Hello <%= user.username %></li>
            <li><a href="/logout" class="nav-btn">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="form">
      <form action="/admin/programme/edit" method="POST">
          <fieldset>
            <label>
              ID
              <input name="id_field" readonly value="<%= programme.id %>" />
            </label>
            <label>
              Title
              <input name="title_field" value="<%= programme.title %>" />
            </label>
            <label>
              Code
              <input name="code_field" value="<%= programme.code %>" />
            </label>
            <label>
              Award Type
              <input name="award_field" value="<%= programme.award_type %>" />
            </label>
            <label>
              Academic Year
              <input name="year_field" value="<%= programme.academic_year %>" />
            </label>
          </fieldset>
          <button type="submit" class="submit-btn">Submit</button>
      </form>
      </div>
      
      </div>
    </main>
  </body>
</html>
