<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="/myui.css" />
  </head>

  <body>
    <main class="container-fluid">
      <nav class="user-nav">
        <div class="left">
          <ul class="user-title">
            <li><h3>Student Management</h3></li>
          </ul>
          <ul class="user-btns">
            <li><a href="/officer" class="nav-btn">Home</a></li>
            <li><a href="/officer/statistics" class="nav-btn">Statistics</a></li>
            <li><a href="/officer/programme/<%= programme.id %>/students" class="nav-btn">Students</a></li>
          </ul>
        </div>
        <div class="right">
          <ul class="logout">
            <li>Hello <%= user.username %> </li>
            <li><a href="/logout" class="nav-btn">Log Out</a></li>
          </ul>
        </div>
      </nav>
       <div class="user-content">
        <div class="student-content">
            <div class="student-info">
                <h4><%= student.student_no %> | <%= student.first_name %> <%= student.last_name %> </h4>
                <p><strong>Programme: </strong> <%= programme.title %></p>
                <p><strong>Graduation Year: </strong> <%= student.graduation_year %></p>
                <p><strong>Email: </strong> <%= student.email %> </p>
            </div> 
            <div class ="edit-btn">
                <a href="/officer/programme/<%= programme.id %>/student/<%= student.id %>/edit" class="manage">Edit Student Info</a>
            </div>
        </div>

        <div class="student-table">
        <% Object.keys(groupedModules).forEach(year => { %>
            <div class="year"><h5> Year: <%= year %></h5></div>
        <table>
          <thead>
            <tr>
              <th scope="col">Module Code</th>
              <th scope="col">Title</th>
              <th scope="col">Credits</th>
              <th scope="col">Attempt</th>
              <th scope="col">Mark</th>
              <th scope="col">Capped Mark</th>
              <th scope="col">Passed?</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% groupedModules[year].forEach(mod => { %>
            <tr>
              <th scope="row"><%= mod.module_code %></th>
              <td><%= mod.module_title %></td>
              <td><%= mod.credits %></td>
              <% if (mod.is_resit) { %>
               <td><%= mod.attempt_no %> (resit) </td> 
               <% } else { %>
                <td> <%= mod.attempt_no %> </td>
              <% } %>
              <td><%= mod.mark %> </td>
              <td><%= mod.capped_mark %></td>
              <td> <% if (mod.passed) { %>
                Yes
               <% } else { %>
                No
              <% } %></td>
              <td><a href="/officer/programme/<%= programme.id %>/student/<%= student.id %>/result/<%= mod.resultId %>/edit" class="table-btn">Edit</a></td>
              <td><form action="/officer/programme/<%= programme.id %>/student/<%= student.id %>/result/<%= mod.resultId %>/delete" method="POST">
                        <button class="table-btn">Delete</button>
              </form></td>
            </tr>
             <% }) %>
             <tr class = "result-stats">
                <td colspan="4"></td>
                <td colspan="2">
                    <strong>Credits passed:</strong> <%= creditsByYear[year] %>/120 </td>
                  <td colspan="2" class="right-align">
                    <strong>Average Grade:</strong> <%= avgByYear[year] %>
                </td>
             </tr>
          </tbody>
        </table>  
        <div class = "manage-btn">
          <a href = "/officer/programme/<%= programme.id %>/student/<%= student.id %>/result/edit" class = "manage"> Add Result </a>
        </div>     
        <% }) %>
      </div>
      </div>
    </main>
  </body>
</html>
